@import url('https://fonts.googleapis.com/css2? family = spartan:wght@100;200;300;400;500;600;700;800;900&display = swap ');

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

* {
    margin: 0;
    padding: 0;
    font-family: "spartan", sans-serif;
    box-sizing: border-box;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

body {
    width: 100%;
    position: relative;

}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: white;
    padding: 0 5%;
    border: 1px solid black;
    position: sticky;
}

.dropdown {
    float: right;
    overflow: hidden;

}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: green;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    margin: auto;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.search {
    width: 100%;
    position: relative;
    display: flex;

}

.searchTerm {
    width: 100%;
    border: 1px solid black;
    border-right: none;
    padding: 15px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}

.searchTerm:focus {
    color: black;
}

.searchButton {
    width: 40px;
    height: 33px;
    border: 1px solid black;
    background: black;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

.wrap {
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button {
    padding: 10px 10px 10px 10px;
    cursor: pointer;

}

.cart-btn {
    margin-left: 850px;
    margin: 20px;
    padding: 10px;
    width: 100px;
    background-color: #fff;
    font-weight: 500;
    border: 1px solid black;
    border-radius: none;
}

.sell-btn {
    border-radius: 20px;
    margin: 40px;
    background-color: green;
    color: #fff;
    border: none;
    padding: 10px;
    width: 100px;
    font-weight: 500;

}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-links li a {
    text-decoration: none;

}

.nav-links li .sell-btn a {
    color: #fff;
}

.nav-links li .cart-btn a {
    color: black;
}

.dropbtn i {
    padding: 4px;
}

.cart-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
    background-color: green;
    padding-left: 80px;
}

.nav-2 ul li {
    list-style: none;
    display: inline;
    padding: 30px;
}

.carti {
    margin: 30px;
    padding: 20px;
}

.nav-2 ul li a {
    text-decoration: none;
    color: white;
}

#features {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#features .fe-box {
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
}

#features .fe-box img {
    width: 100%;
    margin-bottom: 10px;
}

#features .fe-box:hover {
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

#features .fe-box h6 {
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;

}

#features .fe-box :nth-child(2) h6 {
    background-color: #cdebbc;
}

#features .fe-box:nth-child(3) h6 {
    background-color: #d1e8f2;
}

#features .fe-box:nth-child(4) h6 {
    background-color: #cdd4f8;
}

#features .fe-box:nth-child(5) h6 {
    background-color: #f6dbf6;
}

#features .fe-box:nth-child(6) h6 {
    background-color: #fff2e5;
}

#product1 {
    text-align: center;
}

#product1 .pro-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;

}

#product1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    position: relative;
    transition: 0.2s ease;
}

#product1 .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.09);
}

#product1 .pro img {
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .des {
    text-align: start;
    padding: 10px 0;

}

#product1 .pro .des span {
    color: #606063;
    font-size: 12px;
}

#product1 .pro .des h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .pro .des i {
    color: rgba(243, 181, 25);
    font-size: 12px;
}

#product1 .pro .des h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}

#product1 .pro .cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #088178;
    border: 1 px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("img/banner/b2.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;

}